body{
background-color: #ffffff;
}

#header {
margin: 0px;
height: 70px;
background-color: gray;
}

.elliott {
text-indent: 20px;
font-size: 30px;
color: white;
float: left;
height: 71px;
padding-top: 15px;
}

.menu {
float: right;
text-align: right;
font-size: medium;
color: white;
padding-top: 23px;
text-decoration: none;
padding-right: 100px;
}

ul.menutw{
margin: 0;
}

ul li.menuth {
display: inline;
list-style: none;
text-decoration: none;
margin: 5px;
}

li a:hover:not(.active) {
    background-color: #d3d3d3;
}

a{
text-decoration: none;
}

#container {
	margin-left: 100px;
	margin-right: 100px;
}
.center {
	text-align: center;
}

.bottom {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

h1 {
	font-size: 45px;
}

.ellpic {
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 450px;
	width: auto;
}

.icon {
	height: 50px;
	width: auto;
	padding: 5px;
}


.iconCenter {
	text-align: center;
	padding-top: 15px;
}